<ion-view title="Sandbox">
    <ion-content scrollbar-y="false" class="has-header">
        <div ng-repeat="thing in ['Yard', 'Pallet', 'Hive']">
            <div class="button-bar">
                <button
                    ng-click="addThing(thing)"
                    class="button button-positive">
                    Add a {{thing.toLowerCase()}}
                </button>

                <button
                    ng-click="removeFirstThing(thing)"
                    ng-disabled="$root.data[thing.toLowerCase() + 's'].length === 0"
                    class="button button-assertive">
                    Remove a {{thing.toLowerCase()}}
                </button>
            </div>

            <ion-item>
                {{thing + 's'}}:
                <span class="badge badge-positive">
                    {{$root.data[thing.toLowerCase() + 's'].length}}
                </span>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
