<ion-nav-bar class="bar bar-header bar-energized nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon ion-chevron-left">Back</ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-assertive icon ion-qr-scanner" ng-click="scan()"></button>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-tabs class="tabs-background-stable tabs-stable tabs-striped tabs-icon-only">

    <ion-tab title="Overview" icon="ion-record" href="#/app/overview">
        <ion-nav-view name="overview"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Sandbox" icon="ion-cube" href="#/app/sandbox">
        <ion-nav-view name="sandbox"></ion-nav-view>
    </ion-tab>

</ion-tabs>
