<ion-nav-bar class="bar bar-header bar-energized">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back"> Back</ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-dark icon ion-qr-scanner" ng-click="scan()"></button>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-tabs class="tabs-background-stable tabs-stable tabs-striped tabs-icon-top">
    <ion-tab title="Home"     icon="ion-home"         ui-sref="app.home">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Browse"   icon="ion-eye"          ui-sref="app.browse">
        <ion-nav-view name="browse"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Activity" icon="ion-android-list" ui-sref="app.activity">
        <ion-nav-view name="activity"></ion-nav-view>
    </ion-tab>
    <ion-tab title="To Do"    icon="ion-checkmark"    ui-sref="app.todo">
        <ion-nav-view name="todo"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sandbox"  icon="ion-cube"         ui-sref="app.sandbox">
        <ion-nav-view name="sandbox"></ion-nav-view>
    </ion-tab>
</ion-tabs>
