/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$energized: #EEB211;
$positive: #023D7B;
$dark: #00254C;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Make ng-cloak work correctly
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// Active tab item
.tab-item.tab-item-active {
    background-color: darken($stable, 8%);
}

// Shadows for header and tabs
.bar-header { box-shadow: 0 4px 6px 0px rgba(50,50,50,0.20); }
.tab-nav { box-shadow: 0 0px 10px 0px rgba(50,50,50,0.50); }

// Title bar
.bar.bar-energized .title {
    color: black;
}

// Edit and arrow list icons
.item-icon-right .icon.ion-ios-arrow-right,
.item-icon-left .icon.ion-edit {
    font-size: 1.3em;
    opacity: .5;
    text-decoration: none;
    color: $dark;
}

// Custom helper classes
.bk-fixed-bar {
    padding: 0px;
}

// Utility
.text-light { color: $light !important; }
.text-stable { color: $stable !important; }
.text-positive { color: $positive !important; }
.text-calm { color: $calm !important; }
.text-balanced { color: $balanced !important; }
.text-energized { color: $energized !important; }
.text-assertive { color: $assertive !important; }
.text-royal { color: $royal !important; }
.text-dark { color: $dark !important; }
.faded { opacity: 0.8; }
