/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Make ng-cloak work correctly
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#hiveNumberColor {
    height: 50px;
    width: 50px;
}

.tabs .tab-item {
    max-width: none;
}

.tab-nav {
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.15);
    box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.15);
}

.bar-header {
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
}

.bar.bar-energized .title {
    color: $dark;
}

.bar .title {
    font-size: 25px !important;
}

.text-light { color: $light !important; }
.text-stable { color: $stable !important; }
.text-positive { color: $positive !important; }
.text-calm { color: $calm !important; }
.text-balanced { color: $balanced !important; }
.text-energized { color: $energized !important; }
.text-assertive { color: $assertive !important; }
.text-royal { color: $royal !important; }
.text-dark { color: $dark !important; }
