<ion-view title="Pallets">
    <ion-header class="bar bar-subheader button-bar bk-fixed-bar">
        <button class="button button-positive bk-subheader-button" ui-sref="app.yardDetail({id: yard.id})">View/Edit This Yard</button>
        <button class="button button-balanced bk-subheader-button">New Pallet</button>
    </ion-header>

    <ion-content class="has-subheader" has-bouncing="true">
        <ion-list>
            <ion-item
                ng-repeat="pallet in yard.pallets"
                class="item-icon-right">
                {{pallet.id}}
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
