<ion-view title="Bee Yards">
    <ion-header class="bar bar-subheader button-bar bk-fixed-bar">
        <button class="button button-positive">Create New Bee Yard</button>
    </ion-header>
    <ion-content class="has-subheader">
        <ion-list>
            <ion-item ng-repeat="yard in $root.data.yards" class="item-icon-right" ui-sref="app.yardPallets({id: yard.id})">
                {{yard.name || 'Yard Name'}}
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
