<ion-view title="Sandbox">
    <ion-content scrollbar-y="false" has-bouncing="true" class="has-header">
        <div class="button-bar">
            <button
                class="button button-positive"
                ng-click="addHive()">
                Add a hive
            </button>
            <button
                ng-disabled="data.hives.length === 0"
                class="button button-assertive"
                ng-click="removeFirstHive()">
                Remove a hive
            </button>
        </div>
        <ion-list class="padding-top">
            <ion-item ng-repeat="hive in data.hives">
                {{hive.id}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
